---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import ListOfCourses from "@/components/ListOfCourses.astro";
---

<Layout title="Programate - UTH">
  <main class="p-4">
    <Hero />
    <ListOfCourses />
  </main>
  <footer class="w-full mx-auto container py-10 md:max-w-2xl lg:max-w-6xl">
    <p class="text-center italic text-gray-700">
      Programate es un programa de certificaci贸n de <a
        href="https://www.uth.hn/"
        title="Universidad Tecnol贸gica de Honduras"
        class="underline">UTH</a
      > que introduce a la programaci贸n con el apoyo de <span
        title="Agencia de los Estados Unidos para el Desarrollo Internacional"
        class="underline cursor-">USAID</span
      >. <br />
      <span class="font-semibold">
        2024 PROGRAMATE - <span
          title="Universidad Tecnol贸gica de Honduras"
          class="underline cursor-pointer">UTH</span
        > y <span
          title="Agencia de los Estados Unidos para el Desarrollo Internacional"
          class="underline cursor-pointer">USAID</span
        >
      </span>
    </p>
  </footer>
</Layout>
