---
import type { CourseDetails } from "@/types";
import { Icon } from "astro-icon/components";

interface Props extends CourseDetails {}

const { name, iconName, certificateURL } = Astro.props;

const colorClasses = {
  bash: "group-hover:text-react",
  database: "group-hover:text-database",
  git: "group-hover:text-git",
  java: "group-hover:text-java",
  javascript: "group-hover:text-javascript",
  linux: "group-hover:text-linux",
  nodejs: "group-hover:text-nodejs",
  python: "group-hover:text-python",
  react: "group-hover:text-react",
  vuejs: "group-hover:text-vuejs",
};
---

<a
  href={certificateURL}
  target="_blank"
  rel="noreferrer noopener"
  class="h-32 p-5 bg-gray-100/40 border border-gray-300 rounded-xl shadow-md transform transition-all duration-200 ease-in hover:bg-white hover:shadow-lg hover:scale-105 group"
>
  <div class="grid gap-5">
    <div class="flex items-center justify-between">
      <Icon name={iconName} class:list={colorClasses[`${iconName}`]} />
      <Icon name="link" class="transition-colors group-hover:text-sky-500" />
    </div>
    <h4 class="text-sm">{name}</h4>
  </div>
</a>
