---
import { COURSES } from "@/courses";
import Card from "./Card.astro";
---

<!-- max-w-7xl mx-auto -->
<section class="w-full mx-auto container py-10 md:max-w-2xl lg:max-w-6xl">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {
      COURSES.map((course) => {
        return <Card {...course} />;
      })
    }
  </div>
</section>
